.toggleButton {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #379683;
    width: 20%;
    text-align: center;
    color: #ffffff;
    font-family: Verdana;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

    .toggleButton:active {
        background-color: #b8b8b8;
        transform: translate(4px, 4px)
    }


.submitButton {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #379683;
    width: 20%;
    text-align: center;
    color: #ffffff;
    font-family: Verdana;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

    .submitButton:active {
        background-color: #b8b8b8;
        transform: translate(4px, 4px)
    }

.cancelButton {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #EDF5E1;
    width: 20%;
    text-align: center;
    color: #333333;
    font-family: Verdana;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

    .cancelButton:active {
        background-color: #b8b8b8;
        transform: translate(4px, 4px)
    }

#editingButtonContainer {
}

.editButton, .removeButton {
    border-radius: 5px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    font-family: Verdana;
    cursor: pointer;
}

.editButton {
    background-color: #379683;
    color: #ffffff;
}

    .editButton:active {
        background-color: #b8b8b8;
        transform: translate(4px, 4px)
    }

.removeButton {
    background-color: #333333;
    color: #ffffff;
}

    .removeButton:active {
        background-color: #b8b8b8;
        transform: translate(4px, 4px)
    }

.minorDarkBlueButton {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #05386B;
    width: 10%;
    text-align: center;
    color: #333333;
    font-family: Verdana;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
}

    .minorDarkBlueButton:active {
        background-color: #b8b8b8;
        transform: translate(4px, 4px)
    }

.minorGreenThreeButton {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #379683;
    min-width: 10%;
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
}

    .minorGreenThreeButton:active {
        background-color: #b8b8b8;
        transform: translate(4px, 4px)
    }

.minorGreenTwoButton {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #5CDB95;
    width: 10%;
    text-align: center;
    color: #333333;
    font-family: Verdana;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
}

    .minorGreenTwoButton:active {
        background-color: #b8b8b8;
        transform: translate(4px, 4px)
    }


.minorGreenOneButton {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #8EE4Af;
    width: 20%;
    text-align: center;
    color: #333333;
    font-family: Verdana;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
}

    .minorGreenOneButton:active {
        background-color: #b8b8b8;
        transform: translate(4px, 4px)
    }

.minorWhiteButton {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #EDF5E1;
    width: 10%;
    text-align: center;
    color: #333333;
    font-family: Verdana;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
}

    .minorWhiteButton:active {
        background-color: #b8b8b8;
        transform: translate(4px, 4px)
    }

.minorDarkButton {
    margin: 10px;
    border-radius: 5px;
    padding: 3px;
    background-color: #333333;
    width: 10%;
    text-align: center;
    color: #ebebeb;
    font-family: Verdana;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

    .minorDarkButton:active {
        background-color: #b8b8b8;
        transform: translate(4px, 4px)
    }

#shopNowButton {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 10px;
    background-color: #D19C4C;
    width: 20%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    user-select: none;
}

#shopNowButton:active {
    background-color: #b8b8b8;
    transform: translate(4px, 4px)
}

#cartButton {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #D19C4C;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 30px;

}

#cartButton:active {
    background-color: #b1823b;
    transform: translate(4px, 4px)
}

.AddCartButton {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #D19C4C;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    user-select: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

    .AddCartButton:active {
        background-color: #9D5F38;
        transform: translate(4px, 4px)
    }

#cancelButton {
    border-radius: 10px;
    padding: 5px;
    background-color: #10C135;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    user-select: none;
    margin-left: 5px;
    display: inline-block;
    width: 20%;
}
    #cancelButton:active {
        background-color: #25963E;
        transform: translate(4px, 4px)
    }